:root{
  --weight-regular: 400;
  --weight-bold: 700;

  --green: #00a675;
  --dark: #3f3f3f;
  --medium: #888;

  --font-sans-serif: 'Roboto', sans-serif;
  --font-serif: 'Noto Serif', serif;
}

html{
  display: flex;
  justify-content: center;
  font-family: var(--font-serif);
  color: var(--dark);
  padding: 50px 0;
}

h1,h2, h3, h4, h5, h6{
  font-family: var(--font-serif);
  font-weight: var(--weight-regular);
  color: #000;
}

a{
  color: var(--green);
  text-decoration: none;
}

address{
  font-style: normal;
  line-height: 1.4em;
  color: var(--medium);
}

address:nth-of-type(2){
  text-align: right;
}

h1{
  font-size: 18px;  
  font-weight: var(--weight-bold);
}

h2{
  font-family: var(--font-sans-serif);
  font-size: 12px;
  font-weight: var(--weight-bold);
  margin: 20px 0 8px;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 1px;
}


h4{
  font-family: var(--font-sans-serif);
  color: var(--medium);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 20px 0 3px 0;
}

dl{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

dt, .project{
  font-weight: var(--weight-bold);
  font-family: var(--font-sans-serif);
  font-size: 16px;
  color: #000;
}

dt .location{
  font-weight: var(--weight-regular);
}

dd{
  color: var(--medium);
  font-size: 14px;
}

body{
  max-width: 8.5in;
  /* padding: .5in; */
}

ul{
  padding-inline-start: 20px;
}

li, p, address{
  font-size: 14px;
  line-height: 1.5em;
}

li{
  margin-bottom: 5px;
}
header{
  border-bottom: solid 1px var(--green);
  padding-bottom: 15px;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}